* {
    font-family: "Century Gothic", "sans-serif";
}

body {
    margin: 0;
    background-color: #F5F8FF;
}

.top-header {
    background-color: rgb(25, 73, 179);
    padding: 5px;
    display: flex;
    color: beige;
    font-weight: bolder;
    font-size: 30px;
    justify-content: center;

}


nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(88, 161, 255);
}

nav a {
    text-decoration: none;
    color: beige;
    font-size: 20px;
    width: 33%;
    text-align: center;
}

nav a:hover {
    
    color: rgb(25, 73, 179);

}

nav .active{
    background-color: #4F7FF0;
}